[submodule "Dependencies/glfwpp"]
	path = Dependencies/glfwpp
	url = https://github.com/janekb04/glfwpp
[submodule "Dependencies/embed-resource"]
	path = Dependencies/embed-resource
	url = https://github.com/MaroonSkull/embed-resource.git
